.navbar {
    background-color: #EEE8AA;
    display: flex;
    justify-content: start;
    padding: 10px;
}

.navbar-brand {
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
}

.brandTitle {
    color: black;
    text-decoration: none;
    font-size: 30px;
    margin: 5px;
    font-style: italic;
    font-weight: 500;
    border-radius: 10px;

    padding: 5px;

}

.brandTitle:hover {
    background-color: #000;
    color: #fff;
    transition: 1s all;
}

.navItems{
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;


}

.navItems:hover {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    transition: .5s all;
}