.navbar {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
}

.brandLogo {
    display: flex;
    flex-direction: row;
}

.brandTitle {
    color: black;
    text-decoration: none;
    font-size: 30px;
    margin: 0px 10px;
    font-style: italic;
    font-weight: 500;
    padding:3px;

}

.navItems{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 10px 10px;
    

}